# Indexing and Data Structures

In [142]:
#make a string
a="samosa pakora"

In [143]:
a

'samosa pakora'

In [144]:
#length of indices
len(a)

13

In [145]:
a[0]

's'

In [146]:
a[1]

'a'

In [147]:
a[2]

'm'

In [148]:
# last index is an exclusive element 
a[0:6]

'samosa'

In [149]:
# reverse indexing
a[-2]

'r'

In [150]:
a[-1:6] # not ethical in programming terms

''

In [151]:
a[-6:13] #to get the string till the end, using length of string

'pakora'

In [152]:
a[-6:-1]

'pakor'

## String methods

In [153]:
food='biryani'
len(food)

7

In [154]:
# capitalise every element
food.capitalize()

'Biryani'

In [155]:
#lowercase letters
food.lower()

'biryani'

In [156]:
# replace
food.replace('b','sh')

'shiryani'

In [157]:
#counting a specific letter in a string
name="Komal Khan"
name.count('a') #case sensative

2

In [158]:
# finding an index number in string
name.find('n')

9

In [159]:
# how to split a string
food= "I love biryani,haleem, chinese rice and nihari" 
food

'I love biryani,haleem, chinese rice and nihari'

In [160]:
food.split(",")

['I love biryani', 'haleem', ' chinese rice and nihari']

## Basic Data Structures in Python
**1. Tuple
2. List
3. Dictionaries
4. Set**

## 1- Tuple
- ordered collection of elements
- enclosed in () round braces/paranthesis
- Different kinds of elements can be stored
- Once stored elements can not be changed (immutable)

In [161]:
tup1= (3, 'python', True, 3.16)
tup1

(3, 'python', True, 3.16)

In [162]:
tup2= (2, 'data', 9.45, False)
tup2

(2, 'data', 9.45, False)

In [163]:
#addition of tuples
tup3= tup1+tup2
tup3

(3, 'python', True, 3.16, 2, 'data', 9.45, False)

In [164]:
#multiplication of tuples
tup3= tup1*2+tup2
tup3

(3, 'python', True, 3.16, 3, 'python', True, 3.16, 2, 'data', 9.45, False)

In [165]:
tup3=(20,30,5,89,63,55,4)
tup3

(20, 30, 5, 89, 63, 55, 4)

In [166]:
tup3*2

(20, 30, 5, 89, 63, 55, 4, 20, 30, 5, 89, 63, 55, 4)

In [167]:
min(tup3)

4

In [168]:
max(tup3)

89

Python has two built-in methods that you can use on tuples.

In [169]:
tup1.count('python')

1

In [170]:
tup1.index(3.16)

3

## 2- List
- ordered collection of elements
- enclosed in [] square brackets
- mutable, elements can be changed after stored

In [171]:
list1=[8,"structures", True]
list1

[8, 'structures', True]

In [172]:
type(list1)

list

In [173]:
len(list1)

3

In [174]:
list1[1]

'structures'

In [175]:
list2=[2,4,5,"learning","python",6.9,True]
list2

[2, 4, 5, 'learning', 'python', 6.9, True]

In [176]:
# Reverses the order of the list
list1.reverse()

In [177]:
# Adds an element at the end of the list
list1.append("with Aammar")

In [178]:
# list1.count() #syntax of the count() method is list1.count(element) where element is specified to be counted as appearing in the list,
list1.count("structures") # 1 and true are counted as same

1

In [179]:
list3=[20,30,5,89,63,55,4]
list3

[20, 30, 5, 89, 63, 55, 4]

In [180]:
len(list3)

7

In [181]:
#sorting a list
list3.sort()
list3

[4, 5, 20, 30, 55, 63, 89]

In [182]:
list3*2

[4, 5, 20, 30, 55, 63, 89, 4, 5, 20, 30, 55, 63, 89]

In [183]:
list1+list2

[True,
 'structures',
 8,
 'with Aammar',
 2,
 4,
 5,
 'learning',
 'python',
 6.9,
 True]

In [184]:
# Removes all the elements from the list
list3.clear()
list3

[]

In [185]:
# Returns a copy of the list
list3 =list1.copy()
list3

[True, 'structures', 8, 'with Aammar']

In [186]:
# Add the elements of a list (or any iterable), to the end of the current list
list3.extend(['BMW'])
list3

[True, 'structures', 8, 'with Aammar', 'BMW']

In [187]:
# Removes the first item with the specified value
list3.remove('BMW')
list3

[True, 'structures', 8, 'with Aammar']

In [188]:
# Adds an element at the specified position
list3.insert(2,'Volvo')
list3

[True, 'structures', 'Volvo', 8, 'with Aammar']

In [189]:
# Removes the element at the specified position
list3.pop(2)
list3

[True, 'structures', 8, 'with Aammar']

## 3- Dictionaries
- An unordered collection of elements
- Key and Value
- Curly brackets {}
- Mutable Values

In [190]:
# fruits and their prices
fruit1={"Apple":12, "Banana":20, "Pineapple":40, "Tomatoes":23}
fruit1

{'Apple': 12, 'Banana': 20, 'Pineapple': 40, 'Tomatoes': 23}

In [191]:
type(fruit1)

dict

In [192]:
#extract data. Returns a list containing the dictionary's keys
keys1=fruit1.keys()
keys1

dict_keys(['Apple', 'Banana', 'Pineapple', 'Tomatoes'])

In [193]:
# Returns a list of all the values in the dictionary
values1=fruit1.values()
values1

dict_values([12, 20, 40, 23])

In [194]:
# adding new element
fruit1["Mangoes"]=10
fruit1

{'Apple': 12, 'Banana': 20, 'Pineapple': 40, 'Tomatoes': 23, 'Mangoes': 10}

In [195]:
#update new element
fruit1["Mangoes"]=45
fruit1

{'Apple': 12, 'Banana': 20, 'Pineapple': 40, 'Tomatoes': 23, 'Mangoes': 45}

In [196]:
fruit2={"Melon":55, "Apricot":45, "Guava":40, "Strawberry":70}
fruit2

{'Melon': 55, 'Apricot': 45, 'Guava': 40, 'Strawberry': 70}

In [197]:
#Concatinate
#fruit1+ fruit2 # can't be done in dictonaries because its unordered collection. Updates the dictionary with the specified key-value pairs
fruit1.update(fruit2)
fruit1

{'Apple': 12,
 'Banana': 20,
 'Pineapple': 40,
 'Tomatoes': 23,
 'Mangoes': 45,
 'Melon': 55,
 'Apricot': 45,
 'Guava': 40,
 'Strawberry': 70}

In [198]:
# 	Returns a copy of the dictionary
fruit3=fruit1.copy()
fruit3

{'Apple': 12,
 'Banana': 20,
 'Pineapple': 40,
 'Tomatoes': 23,
 'Mangoes': 45,
 'Melon': 55,
 'Apricot': 45,
 'Guava': 40,
 'Strawberry': 70}

In [199]:
# 	Removes all the elements from the dictionary
fruit3.clear()
fruit3

{}

In [200]:
# 	Returns a dictionary with the specified keys and value
x = ('key1', 'key2', 'key3')
y = 0
new_dict=dict.fromkeys(x,y)
new_dict

{'key1': 0, 'key2': 0, 'key3': 0}

In [201]:
# 	Returns the value of the specified key
fruit=fruit1.get('Banana')
fruit

20

In [202]:
# 	Returns a list containing a tuple for each key value pair
fruit=fruit1.items()
fruit

dict_items([('Apple', 12), ('Banana', 20), ('Pineapple', 40), ('Tomatoes', 23), ('Mangoes', 45), ('Melon', 55), ('Apricot', 45), ('Guava', 40), ('Strawberry', 70)])

In [203]:
# 	Removes the element with the specified key
fruit1.pop("Banana")
fruit1

{'Apple': 12,
 'Pineapple': 40,
 'Tomatoes': 23,
 'Mangoes': 45,
 'Melon': 55,
 'Apricot': 45,
 'Guava': 40,
 'Strawberry': 70}

In [204]:
# 	Removes the last inserted key-value pair
fruit1.popitem()
fruit1

{'Apple': 12,
 'Pineapple': 40,
 'Tomatoes': 23,
 'Mangoes': 45,
 'Melon': 55,
 'Apricot': 45,
 'Guava': 40}

In [205]:
# 	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
fruit=fruit1.setdefault('Melon',"20")
fruit

55

## 4- Set
- Unordered and unindexed
- curly braces {}
- No duplicates allowed

In [206]:
s1={1,2,"Codanics","python",True}
s1

{1, 2, 'Codanics', 'python'}

In [207]:
# Adds an element to the set
s1.add("Aammar1")
s1

{1, 2, 'Aammar1', 'Codanics', 'python'}

In [210]:
# Removes the specified element
s1.remove("Aammar1")
s1

{1, 2, 'Codanics', 'python'}

In [213]:
# 	Returns a copy of the set
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
x

{'apple', 'banana', 'cherry'}

In [214]:
# Removes all the elements from the set
fruits.clear()
fruits

set()

In [219]:
#	Returns a set containing the difference between two or more sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
z

{'banana', 'cherry'}

In [220]:
# Returns a set, that is the intersection of two or more sets
z = x.intersection(y)
z

{'apple'}

In [221]:
# 	Removes the items in this set that are also included in another, specified set
x.difference_update(y)
x

{'banana', 'cherry'}

In [217]:
# 	Remove the specified item
y.discard("google")
y

{'apple', 'microsoft'}

In [223]:
# 	Removes the items in this set that are not present in other, specified set(s)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
x

{'apple'}

In [224]:
#	Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)
z

True

In [225]:
# 	Returns whether another set contains this set or not
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)
z

True

In [226]:
#	Returns whether this set contains another set or not
z = x.issuperset(y)
z

False

In [227]:
#	Removes an element from the set
y.pop()
y

{'a', 'c', 'd', 'e', 'f'}

In [228]:
#	Returns a set with the symmetric differences of two sets
z = x.symmetric_difference(y)
z

{'b', 'd', 'e', 'f'}

In [229]:
# inserts the symmetric differences from this set and another
x.symmetric_difference_update(y)
x

{'b', 'd', 'e', 'f'}

In [230]:
# Return a set containing the union of sets, duplicates are excluded
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
z

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [231]:
# update()	Update the set with another set, or any other iterable
x.update(y)
x

{'apple', 'banana', 'cherry', 'google', 'microsoft'}