# Mode and Median

1. Mode is the most frequently occuring value in a dataset or distribution. A dataset can have more than one mode.
2. Median is the middle value of the dataset which divides it into upper half and a lower half.

In [2]:
#import libraries
import seaborn as sns
import pandas as pd

#load dataset
phool= sns.load_dataset("iris")
phool.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
phool.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Mode:Computed column-wise:

In [4]:
phool.mode()

   sepal_length  sepal_width  petal_length  petal_width     species
0           5.0          3.0           1.4          0.2      setosa
1           NaN          NaN           1.5          NaN  versicolor
2           NaN          NaN           NaN          NaN   virginica

Mode:Computed row-wise:

In [9]:
phool.astype(str).mode(axis=1)

       0    1    2    3          4
0    0.2  1.4  3.5  5.1     setosa
1    0.2  1.4  3.0  4.9     setosa
2    0.2  1.3  3.2  4.7     setosa
3    0.2  1.5  3.1  4.6     setosa
4    0.2  1.4  3.6  5.0     setosa
..   ...  ...  ...  ...        ...
145  2.3  3.0  5.2  6.7  virginica
146  1.9  2.5  5.0  6.3  virginica
147  2.0  3.0  5.2  6.5  virginica
148  2.3  3.4  5.4  6.2  virginica
149  1.8  3.0  5.1  5.9  virginica

[150 rows x 5 columns]

Median:Computed column-wise:

In [6]:
phool.median()

C:\Users\Komal Khan\AppData\Local\Temp\ipykernel_20792\4022828141.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  phool.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

Median:Computed row-wise:

In [7]:
phool.median(axis=1)

C:\Users\Komal Khan\AppData\Local\Temp\ipykernel_20792\3347908373.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  phool.median(axis=1)

0      2.45
1      2.20
2      2.25
3      2.30
4      2.50
       ...
145    4.10
146    3.75
147    4.10
148    4.40
149    4.05
Length: 150, dtype: float64