# Pandas Tutorial
This notebooks explains the use of python library PANDAS.
## Install Libraries

In [1]:
# pip install pandas
# pip install numpy

## Import Libraries

In [2]:
import numpy as np
import pandas as pd

## Object creation

Creating a Series by passing a list of integer values

In [3]:
s = pd.Series([1, 3, 5, np.nan,7, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    6.0
6    8.0
dtype: float64

Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns

In [4]:
dates = pd.date_range("20210101", periods=20)
dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(20, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2021-01-01  0.008654 -0.126477  0.539719  1.105822
2021-01-02 -1.227898  0.579727  0.175053  0.185574
2021-01-03 -0.946407 -1.118558 -1.435824  0.554559
2021-01-04  0.657420 -0.554898 -0.512110 -1.599138
2021-01-05  1.162640  0.515293  0.453209  1.454471
2021-01-06 -0.052724 -0.681884  1.182558 -0.672382
2021-01-07  0.593081  0.043416 -0.277710 -0.070971
2021-01-08  0.033507  0.740535  1.709354  0.786476
2021-01-09 -2.264824 -0.300875 -0.325400  0.534196
2021-01-10 -0.193594 -0.217825 -0.056438 -1.047139
2021-01-11  0.779426  0.599466 -0.335718  0.547992
2021-01-12  1.324442  0.939933  0.274368  1.463821
2021-01-13  0.580095 -0.370571 -0.179992 -1.142861
2021-01-14 -0.144554  1.730484 -0.749591 -1.221470
2021-01-15  1.233195 -0.101237  0.540558 -0.999549
2021-01-16 -1.813061 -0.952302  1.751119  0.930238
2021-01-17 -0.368305 -1.509361 -0.252288  0.875926
2021-01-18  0.544170 -1.456745 -2.187101  0.921900
2021-01-19 -0.453111 -0.645028  2.185281  0.041818
2021-01-20 -0.560898 -1.242427 -0.574084 -0.488877

Creating a DataFrame by passing a dict of objects that can be converted to series-like

In [6]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220111"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["girl", "woman", "girl", "woman"]),
        "F": "females",
    }
)
df2
df2.dtypes #The columns of the resulting DataFrame have different dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## Viewing data
view the top and bottom rows of the frame

In [7]:
df.head(1)

                   A         B         C         D
2021-01-01  0.008654 -0.126477  0.539719  1.105822

In [8]:
df.tail(3) # number defines how many data rows

                   A         B         C         D
2021-01-18  0.544170 -1.456745 -2.187101  0.921900
2021-01-19 -0.453111 -0.645028  2.185281  0.041818
2021-01-20 -0.560898 -1.242427 -0.574084 -0.488877

Display the index

In [9]:
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20'],
              dtype='datetime64[ns]', freq='D')

DataFrame.to_numpy() gives a NumPy representation of the underlying data.  When you call DataFrame.to_numpy(), pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

In [10]:
df.to_numpy() #does not include the index or column labels in the output.

array([[ 0.00865439, -0.12647739,  0.53971875,  1.10582239],
       [-1.22789804,  0.57972699,  0.17505269,  0.18557446],
       [-0.94640689, -1.1185584 , -1.43582362,  0.55455913],
       [ 0.65742019, -0.55489803, -0.51210964, -1.59913763],
       [ 1.1626399 ,  0.51529269,  0.45320869,  1.45447129],
       [-0.05272386, -0.68188364,  1.18255781, -0.67238172],
       [ 0.59308096,  0.04341616, -0.27770973, -0.07097116],
       [ 0.03350683,  0.74053457,  1.70935432,  0.786476  ],
       [-2.26482372, -0.30087523, -0.32540002,  0.5341962 ],
       [-0.19359381, -0.21782531, -0.05643755, -1.0471391 ],
       [ 0.77942596,  0.59946566, -0.33571777,  0.54799218],
       [ 1.32444179,  0.93993339,  0.27436779,  1.46382077],
       [ 0.58009458, -0.37057057, -0.17999158, -1.14286147],
       [-0.1445542 ,  1.73048425, -0.74959064, -1.22146951],
       [ 1.2331945 , -0.10123727,  0.54055832, -0.99954909],
       [-1.81306107, -0.95230174,  1.75111913,  0.93023769],
       [-0.36830459, -1.50936091, -0.2522881 ,  0.87592645],
       [ 0.54417043, -1.45674516, -2.18710128,  0.92190002],
       [-0.45311116, -0.64502841,  2.18528117,  0.04181784],
       [-0.56089783, -1.24242699, -0.57408372, -0.48887749]])

Note that this can be an expensive operation when your DataFrame has columns with different data types, which comes down to a fundamental difference between pandas and NumPy: NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column.

In [11]:
df2.to_numpy()

array([[1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'woman',
        'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'girl', 'females'],
       [1.0, Timestamp('2022-01-11 00:00:00'), 1.0, 3, 'woman',
        'females']], dtype=object)

describe() shows a quick statistic summary

In [12]:
df.describe()

               A          B          C          D
count  20.000000  20.000000  20.000000  20.000000
mean   -0.055437  -0.206467   0.096248   0.108020
std     0.976762   0.862346   1.057938   0.957663
min    -2.264824  -1.509361  -2.187101  -1.599138
25%    -0.480058  -0.749488  -0.379816  -0.754174
50%    -0.022035  -0.259350  -0.118215   0.359885
75%     0.609166   0.531401   0.539929   0.887420
max     1.324442   1.730484   2.185281   1.463821

Transposing data

In [13]:
df2.T

,0,1,2,3
A,1.0,1.0,1.0,1.0
B,2022-01-11 00:00:00,2022-01-11 00:00:00,2022-01-11 00:00:00,2022-01-11 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,girl,woman,girl,woman
F,females,females,females,females

Sorting by an axis , descending order

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-01-01  1.105822  0.539719 -0.126477  0.008654
2021-01-02  0.185574  0.175053  0.579727 -1.227898
2021-01-03  0.554559 -1.435824 -1.118558 -0.946407
2021-01-04 -1.599138 -0.512110 -0.554898  0.657420
2021-01-05  1.454471  0.453209  0.515293  1.162640
2021-01-06 -0.672382  1.182558 -0.681884 -0.052724
2021-01-07 -0.070971 -0.277710  0.043416  0.593081
2021-01-08  0.786476  1.709354  0.740535  0.033507
2021-01-09  0.534196 -0.325400 -0.300875 -2.264824
2021-01-10 -1.047139 -0.056438 -0.217825 -0.193594
2021-01-11  0.547992 -0.335718  0.599466  0.779426
2021-01-12  1.463821  0.274368  0.939933  1.324442
2021-01-13 -1.142861 -0.179992 -0.370571  0.580095
2021-01-14 -1.221470 -0.749591  1.730484 -0.144554
2021-01-15 -0.999549  0.540558 -0.101237  1.233195
2021-01-16  0.930238  1.751119 -0.952302 -1.813061
2021-01-17  0.875926 -0.252288 -1.509361 -0.368305
2021-01-18  0.921900 -2.187101 -1.456745  0.544170
2021-01-19  0.041818  2.185281 -0.645028 -0.453111
2021-01-20 -0.488877 -0.574084 -1.242427 -0.560898

Sorting by an values , ascending by default

In [15]:
df.sort_values(by="B")

                   A         B         C         D
2021-01-17 -0.368305 -1.509361 -0.252288  0.875926
2021-01-18  0.544170 -1.456745 -2.187101  0.921900
2021-01-20 -0.560898 -1.242427 -0.574084 -0.488877
2021-01-03 -0.946407 -1.118558 -1.435824  0.554559
2021-01-16 -1.813061 -0.952302  1.751119  0.930238
2021-01-06 -0.052724 -0.681884  1.182558 -0.672382
2021-01-19 -0.453111 -0.645028  2.185281  0.041818
2021-01-04  0.657420 -0.554898 -0.512110 -1.599138
2021-01-13  0.580095 -0.370571 -0.179992 -1.142861
2021-01-09 -2.264824 -0.300875 -0.325400  0.534196
2021-01-10 -0.193594 -0.217825 -0.056438 -1.047139
2021-01-01  0.008654 -0.126477  0.539719  1.105822
2021-01-15  1.233195 -0.101237  0.540558 -0.999549
2021-01-07  0.593081  0.043416 -0.277710 -0.070971
2021-01-05  1.162640  0.515293  0.453209  1.454471
2021-01-02 -1.227898  0.579727  0.175053  0.185574
2021-01-11  0.779426  0.599466 -0.335718  0.547992
2021-01-08  0.033507  0.740535  1.709354  0.786476
2021-01-12  1.324442  0.939933  0.274368  1.463821
2021-01-14 -0.144554  1.730484 -0.749591 -1.221470

## Selection
Selecting a single column, which yields a Series, equivalent to df.A

In [16]:
df["A"]

2021-01-01    0.008654
2021-01-02   -1.227898
2021-01-03   -0.946407
2021-01-04    0.657420
2021-01-05    1.162640
2021-01-06   -0.052724
2021-01-07    0.593081
2021-01-08    0.033507
2021-01-09   -2.264824
2021-01-10   -0.193594
2021-01-11    0.779426
2021-01-12    1.324442
2021-01-13    0.580095
2021-01-14   -0.144554
2021-01-15    1.233195
2021-01-16   -1.813061
2021-01-17   -0.368305
2021-01-18    0.544170
2021-01-19   -0.453111
2021-01-20   -0.560898
Freq: D, Name: A, dtype: float64

Selecting via [], which slices the rows

In [17]:
#row wise selection
df[0:3]

                   A         B         C         D
2021-01-01  0.008654 -0.126477  0.539719  1.105822
2021-01-02 -1.227898  0.579727  0.175053  0.185574
2021-01-03 -0.946407 -1.118558 -1.435824  0.554559

In [18]:
df["20210102":"20210104"]

                   A         B         C         D
2021-01-02 -1.227898  0.579727  0.175053  0.185574
2021-01-03 -0.946407 -1.118558 -1.435824  0.554559
2021-01-04  0.657420 -0.554898 -0.512110 -1.599138

For getting a cross section using a label

In [19]:
df.loc[dates[0]]

A    0.008654
B   -0.126477
C    0.539719
D    1.105822
Name: 2021-01-01 00:00:00, dtype: float64

Selecting on a multi-axis by label

In [20]:
df.loc[:, ["A", "B"]]

                   A         B
2021-01-01  0.008654 -0.126477
2021-01-02 -1.227898  0.579727
2021-01-03 -0.946407 -1.118558
2021-01-04  0.657420 -0.554898
2021-01-05  1.162640  0.515293
2021-01-06 -0.052724 -0.681884
2021-01-07  0.593081  0.043416
2021-01-08  0.033507  0.740535
2021-01-09 -2.264824 -0.300875
2021-01-10 -0.193594 -0.217825
2021-01-11  0.779426  0.599466
2021-01-12  1.324442  0.939933
2021-01-13  0.580095 -0.370571
2021-01-14 -0.144554  1.730484
2021-01-15  1.233195 -0.101237
2021-01-16 -1.813061 -0.952302
2021-01-17 -0.368305 -1.509361
2021-01-18  0.544170 -1.456745
2021-01-19 -0.453111 -0.645028
2021-01-20 -0.560898 -1.242427

Showing label slicing, both endpoints are included

In [21]:
df.loc["20130102":"20130104", ["A", "B"]]

Empty DataFrame
Columns: [A, B]
Index: []

Reduction in the dimensions of the returned object

In [22]:
df.loc["20210102", ["A", "B"]]

A   -1.227898
B    0.579727
Name: 2021-01-02 00:00:00, dtype: float64

For getting a scalar value:

In [23]:
df.loc[dates[0], "A"]

0.008654390052754285

For getting fast access to a scalar (equivalent to the prior method)

In [24]:
df.at[dates[0], "A"]

0.008654390052754285

Select via the position of the passed integers, By integer slices, acting similar to NumPy/Python

In [25]:
df.iloc[3:5, 0:2]

                  A         B
2021-01-04  0.65742 -0.554898
2021-01-05  1.16264  0.515293

In [26]:
df.iloc[3]

A    0.657420
B   -0.554898
C   -0.512110
D   -1.599138
Name: 2021-01-04 00:00:00, dtype: float64

In [27]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2021-01-02 -1.227898  0.175053
2021-01-03 -0.946407 -1.435824
2021-01-05  1.162640  0.453209

For slicing rows explicitly:

In [28]:
df.iloc[1:3, :] # 1st row at 0 place and 3rd row excluded

                   A         B         C         D
2021-01-02 -1.227898  0.579727  0.175053  0.185574
2021-01-03 -0.946407 -1.118558 -1.435824  0.554559

For slicing columns explicitly:

In [29]:
df.iloc[:, 1:3] # 1st column at 0 place and 3rd column excluded

                   B         C
2021-01-01 -0.126477  0.539719
2021-01-02  0.579727  0.175053
2021-01-03 -1.118558 -1.435824
2021-01-04 -0.554898 -0.512110
2021-01-05  0.515293  0.453209
2021-01-06 -0.681884  1.182558
2021-01-07  0.043416 -0.277710
2021-01-08  0.740535  1.709354
2021-01-09 -0.300875 -0.325400
2021-01-10 -0.217825 -0.056438
2021-01-11  0.599466 -0.335718
2021-01-12  0.939933  0.274368
2021-01-13 -0.370571 -0.179992
2021-01-14  1.730484 -0.749591
2021-01-15 -0.101237  0.540558
2021-01-16 -0.952302  1.751119
2021-01-17 -1.509361 -0.252288
2021-01-18 -1.456745 -2.187101
2021-01-19 -0.645028  2.185281
2021-01-20 -1.242427 -0.574084

For getting a value explicitly:

In [30]:
df.iloc[1, 1]

0.5797269868237717

For getting fast access to a scalar (equivalent to the prior method)

In [31]:
df.iat[1, 1]

0.5797269868237717

## Boolean indexing
Using a single columns values to select data

In [32]:
df[df["A"] > 0]

                   A         B         C         D
2021-01-01  0.008654 -0.126477  0.539719  1.105822
2021-01-04  0.657420 -0.554898 -0.512110 -1.599138
2021-01-05  1.162640  0.515293  0.453209  1.454471
2021-01-07  0.593081  0.043416 -0.277710 -0.070971
2021-01-08  0.033507  0.740535  1.709354  0.786476
2021-01-11  0.779426  0.599466 -0.335718  0.547992
2021-01-12  1.324442  0.939933  0.274368  1.463821
2021-01-13  0.580095 -0.370571 -0.179992 -1.142861
2021-01-15  1.233195 -0.101237  0.540558 -0.999549
2021-01-18  0.544170 -1.456745 -2.187101  0.921900

#Assignment
Using a multiple columns values to select data

In [33]:
df[(df["A"] > 0) & (df["B"] > 0)] # () parenthesis to be used for & AND and | OR operator

                   A         B         C         D
2021-01-05  1.162640  0.515293  0.453209  1.454471
2021-01-07  0.593081  0.043416 -0.277710 -0.070971
2021-01-08  0.033507  0.740535  1.709354  0.786476
2021-01-11  0.779426  0.599466 -0.335718  0.547992
2021-01-12  1.324442  0.939933  0.274368  1.463821

Selecting values from a DataFrame where a boolean condition is met

In [34]:
df[df > 0]

                   A         B         C         D
2021-01-01  0.008654       NaN  0.539719  1.105822
2021-01-02       NaN  0.579727  0.175053  0.185574
2021-01-03       NaN       NaN       NaN  0.554559
2021-01-04  0.657420       NaN       NaN       NaN
2021-01-05  1.162640  0.515293  0.453209  1.454471
2021-01-06       NaN       NaN  1.182558       NaN
2021-01-07  0.593081  0.043416       NaN       NaN
2021-01-08  0.033507  0.740535  1.709354  0.786476
2021-01-09       NaN       NaN       NaN  0.534196
2021-01-10       NaN       NaN       NaN       NaN
2021-01-11  0.779426  0.599466       NaN  0.547992
2021-01-12  1.324442  0.939933  0.274368  1.463821
2021-01-13  0.580095       NaN       NaN       NaN
2021-01-14       NaN  1.730484       NaN       NaN
2021-01-15  1.233195       NaN  0.540558       NaN
2021-01-16       NaN       NaN  1.751119  0.930238
2021-01-17       NaN       NaN       NaN  0.875926
2021-01-18  0.544170       NaN       NaN  0.921900
2021-01-19       NaN       NaN  2.185281  0.041818
2021-01-20       NaN       NaN       NaN       NaN

Using the isin() method for filtering

In [35]:
df2 = df.copy()

In [36]:
df2["g"] = [ "one", "two", "three", "four", "three","one", "two", "three", "four", "three", "one", "two", "three", "four", "three", "one", "two", "three", "four", "three"]

take row wise mean of A,B,C,D

In [37]:
df2["mean"] = df[["A","B","C","D"]].mean(1)

In [38]:
np.mean([-1.087499,1.664167,-2.160685,-0.161921])

-0.4364845

In [39]:
df2=df2[["A","B","C","D","mean"]] # To udate